.container {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.container h3 {
    text-align: center;
}

.buttons {
    display: flex;
    gap: 10px;
}

.salary {
    display: flex;
    flex-direction: column;
    gap: 10px;
}