.form {
    text-align: center;
}

.form>div {
    display: inline-flex;
    flex-direction: column;
    gap: 10px;
    max-width: 100%;
    width: 300px;
}

.formButtons {
    display: flex;
    gap: 10px;
}

.formButtons>button {
    flex: 1;
}